.op-opendesk-navigation
  margin: 0

  &--item-header
    padding: 0 10px
    font-weight: bold
    display: block
    height: 32px
    line-height: 32px

  // Override primer action padding
  // to remain consistent with the icon sizes
  .ActionListContent
    padding-left: 4px !important

  &--item-icon
    flex: 0
    width: 24px
    height: 24px

  &--item-link
    display: flex
    align-items: center
    gap: 0.25rem
    padding-left: 0

  &--item-content
    display: flex
    align-items: center
    gap: 8px
